@charset "UTF-8";
html,body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
}
.table.table-bordered td {
    text-align: center;
    vertical-align: middle;
}


.login_bg {
    background-color: #222d32;

}
.mt_150 {
    margin-top: 150px;
}
.mb_20{
    margin-bottom: 20px;
}
.panel h4 {
    text-align: center;
}



/*首页*/
.lt_aside {
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: absolute;
    left: 0;
    transition: all 1s;
}

.now {
    left: -180px;
}

.lt_aside .brand a {
    display: block;
    width: 180px;
    height: 50px;
    background-color: #367fa9;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

.lt_aside .user {
    width: 180px;
    height: 150px;
}

.lt_aside .user img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 30px auto 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.lt_aside .user p {
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}
.lt_aside .nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #dddddd;
    padding-left: 30px;
    border: 3px solid transparent;
}

.lt_aside .nav .child a {
    padding-left: 50px;
}

.lt_main {
    height: 100%;
    padding-left: 180px;
    transition: all 1s;

}

.lt_main.now {
    padding-left: 0;
}

.lt_main .topbar {
    height: 50px;
    background-color: #3c8dbc;
    padding: 0 20px;
    line-height: 50px;
    margin-bottom: 20px;
}

.lt_main .topbar a {
    color: #ffffff;
    font-size: 16px;
}

.pic_left ,
.pic_right {
    width: 45%;
    height: 400px;
}








